@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

h1 {
  color: #094067;
  font-family: Roboto,Georgia, serif; 
  background-color: #fffffe;
}


* {
  font-family: Montserrat,Arial, sans-serif;
}

.h2 {
  font-family: Roboto, Times New Roman, serif;
    color: #3da9fc;
}

/*1*/
#Personal {
  color: #72757e;
  background-color: #ffc0ad;
}

#Personal>h2 {
  color: 9656a1;
}


/*2*/

#Education {
  color: ;
  background-color: #eaddcf;
}

#Education>h2 {
  color: #8bd3dd;
}

#Location {
  /*>iframe*/
  text-align: center;
}


/*3*/
#Work {
  color: #72757e;
  background-color: #67568c;
}

#Work>h2 {
  color: #3da9fc;
}


/*4*/
#Volunteering {
  color: #72757e;
  background-color: #e3f6f5;
}

#Volunteering >h2 {
  color: #ffd803;
}

#Volunteering>foto {
  border: 1pt solid black;
  padding: 1.1rem;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2px;
}


/*5*/
#Skills {
  color: #72757e;
  background-color: #abd1c6;
}

#Skills >h2 {
  color: #004643;
}


/*6*/
#Languages {
  color: #72757e;
  background-color: #d9d4e7;
}

#Languages >h2 {
  color: ##e45858;
}


/* Propiedades de texto*/
a{
 text-decoration: none; /* eliminar subrayado*/
 font-size: 1-2rem; 
}




