@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

h1 {
  color: #00509d;
  font-family: 'Nunito','Roboto',Georgia, serif; 
 
  background-color: #fffffe;
}


* {
  font-family: 'Montserrat',Arial, sans-serif;
}

.h2 {
  font-family: 'Roboto', Times New Roman, serif;
    color: #3da9fc;
}

/*1*/
#Personal {
  color:#263238;
  background-color: #fec5bb;
}

#Personal > h2 {
  color: #FF5252;
}


/*2*/

#Education {
  color: #263238;
  background-color: #ffe5d9;
}

#Education > h2 {
  color: #BA68C8;
}

#Location {
  /*>iframe*/
  text-align: center;
}


/*3*/
#Work {
  color: #263238;
  background-color: #fcd5ce;
}

#Work > h2 {
  color: #64B5F6;
}


/*4*/
#Volunteering {
  color: #263238;
  background-color:  #ffd7ba;
}

#Volunteering > h2 {
  color:  #AED581;
}

#Volunteering > foto {
  border: 1pt solid black;
  padding: 1.1rem;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2px;
}


/*5*/
#Skills {
  color: #263238;
  background-color: #fec89a;
}

#Skills > h2 {
  color: #4DB6AC;
}


/*6*/
#Languages {
  color: #263238;
  background-color: #d8e2dc;
}

#Languages > h2 {
  color: #B39DDB;
}
/*7*/
#footer {
  color: #263238;
  background-color: #e7c6ff;
}

/* Propiedades de texto*/
a{
 text-decoration: none; /* eliminar subrayado*/
 font-size: 1-2rem; 
}

/*Estructura general con flex o grid*/
/* Grid: AREAS */
main {
  display: grid; /* Modo de colocar los elementos internos a grid*/
  row-gap: 0.5rem; /* Separación entre filas*/
  column-gap: 0.5rem; /* Separación entre columnas*/
  grid-template-areas: "fila1 fila1 fila1 fila1 fila1 fila1"
                       "fila21 fila21 fila21 fila22 fila22 fila22"
                       "fila31 fila31 fila32 fila32 fila33 fila33"
                       "fila41 fila41 fila41 fila41 fila41 fila41";
                       /*“fila1 fila1 fila1 fila1 fila1 fila1”
  “fila21 fila21 fila21 fila22 fila22 fila22”
  “fila31 fila31 fila32 fila32 fila33 fila33”
  “fila41 fila41 fila41 fila42 fila42 fila42” # Nombres de las áreas*/
}
#Personal{
  grid-area: fila1;
}

#Work{
  grid-area: fila21;
}

#Languages{
  grid-area: fila22;
}

#Education{
  grid-area: fila31;
}

#Volunteering{
  grid-area: fila32;
}

#Skills{
  grid-area: fila33;
}

#footer{
  grid-area: fila41;
}

/* Galeria */

.galeria .box-container {
    
    display: grid;
    grid-template-columns: /*repeat(3, 1fr);*/repeat(auto-fit, 20rem);/*se ajusta para que no exista desbordamiento, 20rem es el valor minimo*/
    gap: 1.5rem;
    justify-content: center;
}

.galeria .box-container img {
    /*hacer que todas las imagenes sean del mismo tamaño*/
    width: 25%;
    height: 25%; 
    object-fit: cover; /*evita que la imagen se vea estirada o distorcionada*/
}

/*efectos*/
.flex .menu a:hover {
    text-decoration: underline;
    color: #be9c79;;
}

.flex .menu a {
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #333;
}

.flex {
    /* Sticky navbar */
     
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: #edf2f4;
    box-shadow: #333; /* Shadow */

}


































