@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
  color: #094067;
  font-family: Georgia, serif; 
  background-color: #fffffe;
}

* {
  font-family: Arial, sans-serif;
}

.h2 {
  font-family: Roboto, Times New Roman, serif;
    color: #c4d9ed
}

c

#Education>h2 {
  color: #8bd3dd;
  
}
#Work {
  color: #3da9fc;
  background-color: #ff8906;
}

#Education {
  color: #b8c1ec;
  background-color: #eaddcf;
}
a{
 text-decoration: none; /* eliminasubrayado*/
 font-size: 1-2rem; 
}

#Volunteering>foto {
  border: 1pt solid black;
  padding: 1.1rem;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2px;
}
#Location>iframe {
  
}

